@font-face {
    font-family: 'Muli-Light';
    src: url('/fonts/muli-light-webfont.eot');
    src: url('/fonts/muli-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/muli-light-webfont.woff') format('woff'), url('/fonts/muli-light-webfont.ttf') format('truetype'), url('/font/muli-light-webfont.svg#muli_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
}
html, body {
    background-color: rgb(6, 120, 136);
    font-family: 'Muli-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: ghostwhite;
    height: 100% !important;
}

/*
 * Helpers
 */
.margin-top-16 {
    margin-top:16px;
}
.margin-left-16 {
    margin-left:16px;
}
.margin-right-16 {
    margin-right:16px;
}
.margin-bottom-16 {
    margin-bottom:16px;
}
.inline-block {
    display:inline-block;
    vertical-align:middle;
}
.uc-first {
    text-transform: capitalize;
}

.cfg-input {
    width: 100%;
    font-size: 22px;
    padding: 25px;
}

.cfg-button {
    font-size: 22px;
    padding: 10px;
    height: auto;
}

.cfgtext a {
    color: #bce8f1;
}

.card {
    width:100%;
    background-color: white;
    border-radius: 2px;
    padding: 8px;
    color:black;
    overflow:hidden;
}
#ajaxloader
{
    margin: auto;
    width: 40px;
    height: 40px;
    /* margin: 0 0 0 -15px; */
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin
{
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
    from { -moz-transform: rotate(0deg); opacity: 0.4; }
    50%  { -moz-transform: rotate(180deg); opacity: 1; }
    to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
    from { -ms-transform: rotate(0deg); opacity: 0.4; }
    50%  { -ms-transform: rotate(180deg); opacity: 1; }
    to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
    from { -o-transform: rotate(0deg); opacity: 0.4; }
    50%  { -o-transform: rotate(180deg); opacity: 1; }
    to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
    from { transform: rotate(0deg); opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1; }
    to   { transform: rotate(360deg); opacity: 0.2; }
}



/*
 * Navigation bar
 */

.navbar-main {
    background: white;
    color: rgb(7, 93, 105);
    border:none;
    border-radius: 0px;
}
.navbar-brand-adjust {
    margin-top: -4px;
}
.navbar-main a  {
    color:rgb(7, 93, 105);
    font-weight: bold;
}
.navbar-main li a.active {
    background: rgb(241, 241, 241);
}
.nav>li>a:hover, .nav>li>a:focus {
    background: rgb(235, 235, 235);
}

/*
 * Footer
 */
body > .ember-view {
    min-height: 100%; !important
}
.wrap {
    min-height:100% !important
}
.footer {
    /* position:fixed ;
    bottom:0px;
    left:0px;
    right:0px;
    */
}