@font-face {
    font-family: 'Muli-Light';
    src: url('/fonts/muli-light-webfont.eot');
    src: url('/fonts/muli-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/muli-light-webfont.woff') format('woff'), url('/fonts/muli-light-webfont.ttf') format('truetype'), url('/font/muli-light-webfont.svg#muli_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: rgb(6, 120, 136);
    font-family: "Muli-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
}

/*
 * Helpers
 */
.margin-top-16 {
    margin-top:16px;
}
.margin-left-16 {
    margin-left:16px;
}
.margin-right-16 {
    margin-right:16px;
}
.margin-bottom-16 {
    margin-bottom:16px;
}
.inline-block {
    display:inline-block;
    vertical-align:middle;
}
.uc-first {
    text-transform: capitalize;
}

.cfg-input {
    width: 100%;
    font-size: 22px;
    padding: 25px;
}

.cfg-button {
    font-size: 22px;
    padding: 10px;
    height: auto;
}

.card {
    width:100%;
    background-color: white;
    border-radius: 2px;
    padding: 8px;
    color:black;
}

/*
 * Navigation bar
 */

.navbar-main {
    background: rgb(7, 93, 105);
    color: white;
    border:none;
    border-radius: 0px;
}
.navbar-brand-adjust {
    margin-top: -4px;
}
.navbar-main a  {
    color:white;
}
.navbar-main li a.active {
    background: rgb(6, 120, 136);
}
.nav>li>a:hover, .nav>li>a:focus {
    background: rgb(17, 103, 116);
}
