<div class="footer">
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col-md-12 text-center">
                    {{#link-to 'index' tagName='a'}}Home{{/link-to}} |
                    {{#link-to 'about' tagName='a'}}About{{/link-to}} |
                    {{#link-to 'case-studies' tagName='a'}}Case Studies{{/link-to}} |
                    {{#link-to 'developers' tagName='a'}}Developers{{/link-to}} |
                    {{#link-to 'disclaimer' tagName='a'}}Disclaimer{{/link-to}} |
                    {{#link-to 'contact' tagName='a'}}Contact{{/link-to}} <br>

                    <div class="inline-block">Copyright 2014
                        <a href="http://www.thethinktrain.org" target="_blank">The Think Train</a> &
                        <a href="http://ki.se/en/research/centre-for-gender-medicine" target="_blank">Centre for Gender
                            Medicine</a> |
                    </div>
                    <div class="inline-block">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="GenderMedKI"
                           data-size="medium" data-hashtags="sexymedicine">Tweet</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <p>
                        <small>GenderedReactions is in beta: please send us feedback via twitter
                            <a href="https://twitter.com/GenderMedKI" target="_blank">@GenderMedKI</a></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>