<div class="push"></div>
<div class="container-fluid footer">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                {{#link-to 'index' tagName='a'}}Home{{/link-to}} <br>
                {{#link-to 'about' tagName='a'}}About{{/link-to}} <br>
                {{#link-to 'case-studies' tagName='a'}}Case Studies{{/link-to}} <br>
                {{#link-to 'developers' tagName='a'}}developers{{/link-to}} <br>
                {{#link-to 'news' tagName='a'}}News{{/link-to}} <br>
                {{#link-to 'disclaimer' tagName='a'}}Disclaimer{{/link-to}}
            </div>
            <div class="col-md-4 pull-right">

            </div>
        </div>
    </div>
</div>