<div class="row cfgtext">
<h1>How to Use GenderedReactions</h1>

    <ol>
        <li><h4>Type in a drug name (either the generic name or US brand name for now)</h4></li>
        <li><h4>Press Search to see the results!</h4></li>
        <li><h4>See the different side effects experienced by men and women</h4></li>
        <li><h4>Found an interesting difference? Tweet your results with the #sexymedicine hashtag!</h4></li>
    </ol>
</div>
