<div class="row">
    <div class="col-md-12 margin-bottom-16">
        <div class="card">
            <h3>How to Use GenderedReactions</h3>

            <ol>
                <li><h4>Type in a drug name (generic, e.g. {{#link-to 'drug' 'sertraline'}}Sertraline{{/link-to}}
                    or US brand name, e.g. {{#link-to 'drug' 'ibuprofen'}}Ibuprofen{{/link-to}})</h4></li>
                <li><h4>Press Search to see the results!</h4></li>
                <li><h4>Look at the side effects experienced by men and women</h4></li>
                <li><h4>Found an interesting difference? Tweet your results with the
                    <a href="https://twitter.com/search?q=%23sexymedicine" target="_blank">#seXYmedicine</a> hashtag!</h4></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 margin-bottom-16">
        <div class="card">
            <h4>Kort introduktion</h4>

            <p>
                Läkemedel har inte bara nyttiga effekter på kroppen. De kan även ge upphov till oönskade effekter, så
                kallade biverkningar. “GenderedReactions” tillhandahåller information för allmänheten om
                läkemedelsbiverkningar som är könsberoende för att skapa större medvetenhet om detta.
            </p>

            <p>
                Observera att detta är en beta-version och att vidare utveckling pågår. Kontakta oss gärna med förslag,
                twittra om detta med hashtag #seXYmedicine eller maila gendermedicine@meds.ki.se
            </p>
        </div>
    </div>
    <div class="col-md-6 margin-bottom-16">
        <div class="card">
            <h4>Brief introduction</h4>

            <p>
                Drugs are given to patients for their beneficial effects on the body, but they can also cause
                side-effects. "GenderedReactions" provides information to the public about drug side-effects
                that are gender differentiated to create a greater awareness of variations between the two sexes.
            </p>

            <p>
                Note that this website is in 'beta' and under going further development. Please contact us with
                suggestions and tweet about it with the hashtag #seXYmedicine or email gendermedicine@meds.ki.se
            </p>
        </div>
    </div>
</div>
