<div class="container">

    <div class="cfgtext">

        <h1>What is GenderedReactions? </h1>
        <p class="lead">
        This website was designed and created by the members of <a href="http://www.thethinktrain.org" target="_blank">The ThinkTrain</a>  as part of their 99 Hour project in August 2014.  The Center for Gender Medicine collaborated with the Think Train to find an innovative way to empower the user in better understanding gender based medicine using big data. The result of their collaboration is this website.
        The Think Train is a collective group of young individuals who are passionate about creating an impact in European and Global healthcare systems.
        </p>
        <iframe width="640" height="360" src="//www.youtube.com/embed/WeoPiJt8rhs" frameborder="0" allowfullscreen></iframe>
    <br/><br/>
        <h3>What the data means</h3>
        <p>
        The dataset used in this website is sourced openly from various different organizations, and regulatory bodies. Primarily the website uses data from the OpenFDA dataset which is an open source dataset by the US Food and Drug Agency. The search function allows the user to search a given symptom or drug facts, which has been already evaluated by the FDA.
        The U.S. Food and Drug Administration (FDA) regulates over-the-counter and prescription drugs in the United States, including biological therapeutics and generic drugs. This work covers more than just medicines. For example, fluoride toothpaste, antiperspirants, dandruff shampoos and sunscreens are all considered drugs.
        An adverse event is submitted to the FDA to report any undesirable experience associated with the use of a medical product in a patient. For drugs, this includes serious drug side effects, product use errors, product quality problems, and therapeutic failures for prescription or over-the-counter medicines and medicines administered to hospital patients or at outpatient infusion centers. About adverse event reports
        This highly simplified schematic illustrates the general nature of an adverse event report. A report may list several drug products, as well as several patient reactions. When a report lists multiple drugs and multiple reactions, there is no way to conclude from the data therein that a given drug is responsible for a given reaction.
        The data is then sorted according to gender specific to show whether certain side effects or symptoms have a gender disparity.
        </p>
<br/>
        <h3>Disclaimer</h3>
        <p>The Center for Gender Medicine at Karolinska Institutet would like to state that the purpose of this site is solely for research, academic, and personal use only. Data provided here is sourced from openly available dataset from various organizations, and regulatory bodies. The center is not responsible for any inappropriate use of the site or for any third party advertisement. The site is not designed or intended for commercial purposes either.</p>
    </div>

</div>