<div class="container">
    <div class="cfgtext">
        <h2>What is GenderedReactions?</h2>

        <p class="margin-bottom-16">This website was designed and created by the members of <a
                href="http://www.thethinktrain.org"
                target="_blank">The Think Train</a> organization
            as part of a 99 Hour project with Karolinska Institutet's
            <a href="http://ki.se/en/research/centre-for-gender-medicine" target="_blank">Centre for Gender Medicine</a>
            in August 2014. The intention was to empower the public to better understanding of their gender specific
            reactions to commonly prescribed drugs based on FDA data.</p>

        <div class="row">
            <div class="col-md-12 text-center">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/DMYm5tCreKE" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <p class="lead margin-bottom-16"><a href="http://www.thethinktrain.org" target="_blank">The Think Train</a></p>

        <p>An international high-speed problem solving train, with the goal of making a significant impact on Healthcare
            in Europe. During a
            period of 2 weeks, talents from various European countries with different study backgrounds
            participated in a voyage of discovery. During this time they developed innovative and creative
            solutions to enrich the current healthcare system.</p>

        <p class="lead margin-bottom-16"><a href="http://ki.se/en/research/centre-for-gender-medicine" target="_blank">
            Centre for Gender Medicine (CfG) - Karolinska Institutet</a></p>

        <p class="margin-bottom-16">The Centre for Gender Medicine, Department of Medicine, Karolinska Institutet
            supports research and education
            towards innovation in health care via promotion and implementation of sex and gender analysis.
            These activities strengthen the quality and competitiveness of scientific innovation leading to the optimal
            exploitation of knowledge and expertise to improve health care for both woman and men.</p>

        <hr>
        <h4>What the data means</h4>

        <p>The U.S. Food and Drug Administration (FDA) regulates over-the-counter and prescription drugs in the United
            States. An adverse event may be submitted to the FDA to report any undesirable experiences associated with
            the use of a medical product in a patient. The dataset used in this website is sourced openly from the The
            FDA&nbsp;Adverse Drug Reaction reporting system. These reports are submitted by patients and doctors when
            they experience a potential side effect after starting new medication. GenderedReactions.com allows the user
            to locate a drug (by generic name or American brand name) which has been already evaluated by the FDA. The
            data is then sorted to indicate if there is a gender disparity in the symptoms and side effects of any given
            product.</p>

        <h4>Limitations</h4>

        <p>
            The data within the openFDA drug adverse event endpoint does have limitations. The reports within the
            dataset do not undergo extensive screening or validation. There is no certainty that the reported event
            (adverse event or medication error) was actually due to the product. FDA does not require that a causal
            relationship between a product and event be proven, and reports do not always contain enough detail to
            properly evaluate an event.
        </p>

        <p>
            As we rely on voluntary reports for adverse events, FDA does not receive reports for every adverse event or
            medication error that occurs with a product. Many factors can influence whether or not an event will be
            reported, such as the time a product has been marketed and publicity about an event. Therefore, the data
            cannot be used to calculate the incidence of an adverse event or medication error in the U.S. population.
            Due to these limitations, it’s best to consider drug adverse event reports as potential insights on trends
            rather than as cases from which you can determine the circumstances of an individual event.
            Read more on the <a href="https://open.fda.gov/update/ten-things-to-know-about-adverse-events/"
                                target="_blank">FDA
            site.</a>
        </p>

        <h4>Disclaimer</h4>

        <p class="margin-bottom-16">The Centre for Gender Medicine at Karolinska Institutet would like to state that the
            purpose of this site is
            solely for research, academic, and personal use only. Data provided here is sourced from openly available
            datasets from various organizations, and regulatory bodies. The centre is not responsible for any
            inappropriate use of the site or for any third party advertisement. This site is not designed or intended
            for commercial use.</p>

    </div>
</div>