<div class="container">
    <div class="cfgtext">
        <h1>
            What is GenderedReactions?</h1>
        <p class="lead">
            This website was designed and created by the members of the Think Train organization as part of a 99 Hour project with the Karolinska Instiutet Centre for Gender Medicine in August 2014. The intention was to empower the public to better understanding of their gender specific reactions to commonly prescribed drugs based on FDA data. &nbsp;</p>
        <p class="lead">
            <a href="http://www.thethinktrain.org" target="_blank"> The ThinkTrain </a> is a collective group of young individuals &nbsp;from diverse backgrounds who are passionate about creating an impact in European and Global healthcare systems.</p>
        <iframe width="853" height="480" src="//www.youtube.com/embed/WeoPiJt8rhs" frameborder="0" allowfullscreen></iframe>

        <br/>

        <h3>
            What the data means</h3>
        <p>
            The U.S. Food and Drug Administration (FDA) regulates over-the-counter and prescription drugs in the United States. An adverse event may be submitted to the FDA to report any undesirable experiences associated with the use of a medical product in a patient. The dataset used in this website is sourced openly from the The FDA&nbsp;Adverse Drug Reaction reporting system. These reports are submitted by patients and doctors when they experience a potential side effect after starting new medication. GenderedReactions.com allows the user to locate a drug (by generic name or American brand name) which has been already evaluated by the FDA. The data is then sorted to indicate if there is a gender disparity in the symptoms and side effects of any given product.</p>
        <br />
        <h3>
            Disclaimer</h3>
        <p>
            The Centre for Gender Medicine at Karolinska Institutet would like to state that the purpose of this site is solely for research, academic, and personal use only. Data provided here is sourced from openly available datasets from various organizations, and regulatory bodies. The centre is not responsible for any inappropriate use of the site or for any third party advertisement. This site is not designed or intended for commercial use.</p>
    </div>
    </div>