<div class="container">

    <h1>Case Studies </h1>
    <p class="lead">
        To illustrate the potential impact Gender Specific and Personalised medicine can have, we've found a few case studies.
    </p>
    <br/><br/>

    <div class="starter-template">
        <h3>Case 1: Heart Attack – Man VS Women</h3>

        <p>
        Recent studies and research show that man and women experience heart attacks quite differently.  The symptoms vary but women tend to show symptoms, which are not directly related to chest pains. Some of these symptoms include:
       <ul>
        <li>Neck, jaw, shoulder, upper back or abdominal discomfort</li>
        <li>Shortness of breath</li>
        <li>Right arm pain</li>
        <li>Nausea or vomiting</li>
        <li>Sweating</li>
        <li>Lightheadedness or dizziness</li>
        <li>Unusual fatigue</li>
    </ul>
        </p>

        <p>
        Men on the other hand show the better-known symptoms such as chest pain, chest pressure, and discomfort.  Traditionally diagnosis has been done using the golden standard, which is based on the symptoms man show.
        The Center for Gender Medicine aims to promote the differences and raise awareness among researchers, students, and the general public. In an ideal world all research, clinical trials, investigations in the medical world would be carried out with the distinct differentiation between male and female cells, specimens, and interactions. The Center would like to promote this ideal world.
        Watch the following TED Talk by Dr. Paula Johnson on how women and man experience heart diseases differently.

        </p>
        <iframe src="http://embed.ted.com/talks/paula_johnson_his_and_hers_healthcare.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

     <br/>

        <h3>Case 2: Stress Urinary Incontinence</h3>

        <p>In past years research has shown that there is a significant difference in ways man and women deal with stress urinary incontinence.  Some facts include:
       <ul>
        <li>More than 50% of man who undergo prostate surgery experience leakage due to SUI.</li>
        <li>Embarrassment and reluctance to seek medical advice is the key reason why many SUI get undetected in man.</li>
        <li>Man suffers from SUI usually after a surgery where else women suffer from various daily activities like coughing, laughing, or sneezing.</li>
        <li>Women are more likely to go under a surgery to treat SUI than man.</li>
        <li>In both groups the number of SUI are increasing.</li>
    </ul>
            </p>

        <p>
        SUI is often regarded as one of the least informed or talked about medical condition. Due to the embarrassing stigma associated with SUI and other conditions, both man and women feel uncomfortable to report or seek medical advice.
        Watch the following TED Talk by Adam Garone who talks about the importance of raising awareness about diseases that affect man – especially ones that target and challenge the conventional form of masculinity.

        </p>
        <iframe src="http://embed.ted.com/talks/adam_garone_healthier_men_one_moustache_at_a_time.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


    </div>

</div>