<div class="container">

    <div class="cfgtext">

        <h1>Gendered Medicine Checklist </h1>
        <p class="lead">
       <a href="http://genderedinnovations.stanford.edu/methods/health_med_checklist.html" target="_blank">Stanford University Gender Specific Medicine Checklist</a>

        </p>

</div>