<div class="container">

    <div class="starter-template">

        <h1>Developers </h1>
        <p class="lead">
        GenderedReactions is the result of a 99 Hour 'hackathon' style project, a collaboration between ThinkTrain and the Karolinska Institute Centre for Gender Medicine. We are using openFDA, a new initiative by the United States Food and Drug Administration which gives researchers public access to their huge database of adverse drug reactions over the last 10 years.

            The API is available as an open source repository on github, we'd love for you to get involved so we can develop this product further. In addition to gender, the openFDA API lets us query by age, demographics and much more, so we're really just scratching the surface of what we can achieve with this amazing dataset.

        </p>

        <iframe src="http://ghbtns.com/github-btn.html?user=jpgupta&amp;repo=GenderedReactions-API&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

</div>