<div class="container cfgtext">

<h1>Disclaimer</h1>
<p class="lead">GenderedReactions.com is an open source informative platform concerning adverse reactions (side effects) from medication reported separately for both men and women. Information is obtained from the US Food and Drug Administration (FDA) covering a huge dataset currently compromising data from 2004 to 2013 which may be updated by the FDA on a regular basis.
    There are a number of limitations: as stated by the FDA: “the FDA does not receive reports for every adverse event or medication error that occurs with a product. Many factors can influence whether or not an event will be reported, such as the time a product has been marketed and publicity about an event. Therefore, the data cannot be used to calculate the incidence of an adverse event or medication error in the U.S. population.”
    The website takes into account that there is a clear disparity between the numbers of reports filed by women and men. In most cases more women submitted complaints than men. All the graphs/data are presented in relative terms to amount of people of a certain sex reports complaints.
</p>
    <p>
    Source: <a href="http://www.fda.gov/Drugs/GuidanceComplianceRegulatoryInformation/Surveillance/AdverseDrugEffects/default.htm" target="_blank">United States Food & Drug Administration (FDA)</a>
</p>
</div>