<div class="container">
    <h2 class="margin-bottom-16">GenderedReactions.com: think seXY for excellent research</h2>

    <h4 class="cfgtext">Help discover how drugs affect men and women differently, tweet your findings with <a
            href="https://twitter.com/search?q=%23sexymedicine" target="_blank">#seXYmedicine</a></h4>

    {{partial 'drug-search'}}
    {{partial 'instructions'}}

</div>