<div class="container">
<h1>News</h1>

<p class="lead">If you want to learn more about Gender Specific and Personalised medicine, check out the links below</p>

<ul>
    <li><a href="http://www.sciencedaily.com/releases/2013/03/130322090850.htm" target="_blank">Science Daily - Men and Women get Sick in Different Ways</a> </li>
    <li><a href="http://www.sciencedaily.com/releases/2013/03/130322090850.htm" target="_blank">Science Daily - Men and Women get Sick in Different Ways</a> </li>
    <li><a href="http://www.sciencedaily.com/releases/2013/03/130322090850.htm" target="_blank">Science Daily - Men and Women get Sick in Different Ways</a> </li>
</ul>
    </div>