<div class="container">
    <h2>News</h2>

    <p class="margin-bottom-16">If you want to learn more about Gender Specific and Personalised medicine, check out the
        links below:</p>
    <ul class="margin-bottom-16">
        <li class="cfgtext"><a class="cfgtext" href="http://www.sciencedaily.com/releases/2013/03/130322090850.htm"
                               target="_blank">Science Daily - Men and Women get Sick in Different Ways</a></li>
        <li class="cfgtext"><a href="http://news.bbc.co.uk/2/hi/health/7699457.stm" target="_blank">BBC News - Life
            expectancy gender gap closes</a></li>
        <li class="cfgtext"><a
                href="http://www.theguardian.com/science/blog/2013/dec/13/gender-differences-mental-health"
                target="_blank">Guardian - Let's Talk About the Gender Differences That Really Matter</a></li>

        <li class="cfgtext"><a
                href="http://www.theguardian.com/society/interactive/2013/may/22/mental-health-gender-divide"
                target="_blank">Guardian - Gender Quiz</a></li>

    </ul>
</div>